# don't ever lint node_modules
node_modules
# don't lint build output (make sure it's set to your correct build folder name)
dist
public
.cache
src/__generated__
src/gatsby-plugin-chakra-ui
packages/shared-ui/src/gatsby-plugin-chakra-ui/
gatsby/
gatsby-node.js
*.d.ts
